<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %} Contacto | PortFolio</title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'img/icono.png' %}"/>
        <!-- Versión gratuita iconos fontawesome-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Fuentes de Google-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Hoja de estilos-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navegación-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">| PortFolio</span>
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/foto.jpg' %}" alt="" />
                </span>
            </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <h3 class="mb-0"><span class="text-primary">PortFolio amgg</span></h3>
                    <li class="navbar-brand"><a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Proyectos</a></li>                    
                    <li class="navbar-brand"><a class="nav-link js-scroll-trigger" href="{% url 'cv' %}">Formación</a></li>
                    <li class="navbar-brand"><a class="nav-link js-scroll-trigger" href="{% url 'blog' %}">Blog</a></li>
                    <li class="navbar-brand"><a class="nav-link js-scroll-trigger" href="{% url 'contact' %}">Contacto</a></li>

                </ul>
                 {% block content %}{% endblock %}
            </div>
        </nav>
        <!-- Contenidos página PortFolio-->
        <div class="container-fluid p-0">
            <!-- Iniciar Aplicación-->
            <section class="resume-section" id="init">
                <div class="resume-section-content">
                    <h1 class="mb-0">Contac<span class="text-primary">to</span></h1>
                    <div class="subheading mb-5">Contactanos en: <a href="mailto:amggdeveloper@gmail.com">amggdeveloper@gmail.com</a>
                    <img class="rounded mx-auto d-block" src="{% static 'img/logoamgg.png' %}" alt="" />
                </div>
                <hr>
                 <p class="lead mb-5">Para poder encontrarnos en otras plataformas, siganos en las siguientes redes sociales:</p> 
                  
                <div class="social-icons">                       
                        <!--twitter-->
                        <a class="social-icon" href="https://twitter.com/amggdeveloper" target='_blank'>
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!--facebook-->
                        <a class="social-icon" href="https://www.facebook.com/ama.gagon" target='_blank'>
                            <i class="fab fa-facebook-f"></i>                            
                        </a>
                        <!--youtube-->
                        <a class="social-icon" href="https://www.youtube.com/channel/UC05gbtiub6sfW-pTnIEqIQQ/videos" target='_blank'>
                            <i class="fab fa-youtube"></i>
                        </a>
                        <!--github-->
                        <a class="social-icon" href="https://github.com/amggdeveloper" target='_blank'>
                            <i class="fab fa-github"></i>
                        </a>                     
                </div> 

        <!-- Ficheros JS para BootStrap-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Plugins para BootStrap-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Funcionalidades JS-->
        <script src="{% static 'js/scripts.js'%}"></script>
    </body>
</html>
